<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="Regexp">
            <property name="format" value="(^|\b|(?&lt;=[a-zA-Z\-_]))((R|r)egist)(\b|(?=[A-Z\-_])|$)|(^|\b|(?&lt;=[\-_]))REGIST(\b|(?=[\-_])|$)"/>
            <property name="illegalPattern" value="true"/>
            <!-- keyの値は公式ドキュメントのモジュールのリファレンス内の「Violation Messages」で確認 -->
            <message key="illegal.regexp" value="'regist'という単語が使用されています！！"/>
        </module>
    </module>
</module>
